.bodyColor {
	background-color: white;
	color: charcoal;
	font-family: Gadget;
	background-image: ""
}
.nav-wrapper {
	width: 30%; 
	background-color: yellow;
	height: 100px;
	font-size: 30px;
	font-family: Gadget;

}
#nav-mobile li {
	list-style-type: none;
}
.articleOne {
	color: yellow;
	font-size: 18px;
	width: 40%;
	border: 2px solid blue;
	float: left;
	background-color: gray;
	margin-left: 5%;
}
.articleTwo {
	color: yellow;
	font-size: 18px;
	width: 40%;
	border: 2px solid blue;
	float: right;
	background-color: gray;
	margin-right: 5%;
}
.footerClass {
	margin-top: 10%;
	float: left;
}
h1 {
	text-align: center;
}
.imgOil {
	width: 100%;
}
.imgFred {
	width: 50%;
}