.bodyColor {
	background-color: transparent;
	color: charcoal;
	font-family: Gadget;
	
}
html { 
	display: block; 
	margin: 0 10px 10px 0; 
	max-width: 100%;
	background-image: #e8ecf0 url("DrFred/Styles/FredsAb.jpg") no-repeat 50% 350px;
	background-color: transparent;
	border: none;
}
.nav-wrapper {
	width: 30%; 
	background-color: yellow;
	height: 100px;
	font-size: 30px;
	font-family: Gadget;

}
#nav-mobile li {
	list-style-type: none;
}
.articleOne {
	color: yellow;
	font-size: 18px;
	width: 40%;
	border: 2px solid blue;
	float: left;
	background-color: gray;
	margin-left: 5%;
}
.articleTwo {
	color: yellow;
	font-size: 18px;
	width: 40%;
	border: 2px solid blue;
	float: right;
	background-color: gray;
	margin-right: 5%;
}
.footerClass {
	margin-top: 10%;
	float: left;
}
h1 {
	text-align: center;
}
.classOne {
	padding: 2%;
}
.classTwo {
	padding: 2%;
}